<!-- Sidebar -->
<div id="sidebar-wrapper-left">
  <nav id="spy">
    <ul class="sidebar-nav nav">
      <li class="sidebar-brand">
        <a href="/"><span class="fa fa-home solo">Home</span></a>
      </li>
      <li>
        <a href="/user/service" data-scroll>
          <span class="fa fa-anchor solo">Service</span>
        </a>
      </li>
      <li>
        <a href="/user/short_ccs" data-scroll>
          <span class="fa fa-anchor solo">Short Cut Category</span>
        </a>
      </li>
      <li>
        <a href="#anch3" data-scroll>
          <span class="fa fa-anchor solo">Anchor 3</span>
        </a>
      </li>
      <li>
        <a href="#anch4" data-scroll>
          <span class="fa fa-anchor solo">Anchor 4</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
