@import "app_color.scss";

h1{
  color: $bgColor;
  background-color: $baseColor1;
}

body{
  overflow-x : hidden ;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.smart{
  h1{
    font-size: 3em;
  }
  select{
    height: 3em;
  }
  .btn{
    font-size: 1em;
  }
  table{
    td{
      font-size: 1.4em;
    }
    font-size: 1.4em;
  }
  li{
    font-size: 1.4em;
  }
  p{
    font-size: 1.2em;
    line-height: 1.4em;
  }
  font-size: 1.4em;
}
