@import "app_color.scss";

.panel-records-table{
  background-color: $baseColor2;
  border-color: $baseColor2;
}

table.records{
  thead{
    background-color: $baseColor5;
  }
}

.btn{
  &.records-table-change{
    color: #111;
    background-color: $baseColor4;
    border-color: $baseColor3;
    border-radius: 0em;
    margin: 0px 0px;
    display:block;
    float: left;
    &.active{
      background-color: $baseColor3;
    }
  }
}

/* End carousel */
